@model MamidiDating.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Page</h2>
<text id="login">You must use a username and a password to login.</text>
<hr />

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(l => l.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(l => l.Username, new { placeholder = "User Name", @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(l => l.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(l => l.RememberMe)
                @Html.LabelFor(l => l.RememberMe)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Log in" />
        </div>
    </div>
    <hr />
    <p>
        <b>@Html.ActionLink("Back to Registration", "Registration", "Registration")</b>
    </p>
                <p>
                    <b>@Html.ActionLink("Back to Home", "Index", "Home")</b>
                </p>
        <p>
        <b>@Html.ActionLink("Forgot your password?", "ForgotPassword", "Login")</b>
    </p>

}
