
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MamidiDatingStyleSheet.css" rel="stylesheet" />
    <title>MamidiDating</title>
</head>
<body>
    <nav id="datingbar" class="navbar-default">
        <div class="row">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("New User Registration", "NewUser", "NewUser")</li>
                <li>@Html.ActionLink("Registered User Log In", "RegisteredUser", "RegisteredUser")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
